<div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
     aria-labelledby="removeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="removeModalLabel">Confirm</h5>
      </div>
      <div class="modal-body">
        Are you sure?
      </div>
      <div class="modal-footer justify-content-center">
          <button type="submit" data-dismiss="modal" class="btn btn-primary" (click)="removeUser()">Yes</button>
        <button type="button" data-dismiss="modal" class="modal-close btn btn-secondary">No
        </button>
      </div>
    </div>
  </div>
</div>
