<header>
  <nav class="navbar navbar-expand-md">
    <a routerLink="/" class="navbar-brand">
      <img src="https://e7.pngegg.com/pngimages/137/448/png-clipart-black-book-logo-black-white-computer-icons-book-book-icon-angle-rectangle-thumbnail.png" alt="Book Icon" class="brand-icon">
      Knygers
    </a>

    <div class="navbar-right-items">
      <h3 *ngIf="isLoggedIn()" class="user-greeting">Hello, {{getUsername()}}</h3>
      <a *ngIf="isLoggedIn()" (click)="logout()" class="nav-link logout-link">Logout</a>
      <a *ngIf="!isLoggedIn()" routerLink="/login" class="nav-link logout-link">Login</a>
    </div>
  </nav>
</header>
