<div class="container mt-4">
  <!-- Search Bar -->
  <div class="input-group mb-3">
    <input type="text" [(ngModel)]="searchInput" class="form-control" placeholder="Search books"
           aria-label="Book's name" aria-describedby="button-addon2">
    <div class="input-group-append">
      <a class="btn btn-outline-secondary" (click)="applySearch()" href="/1?search={{searchQuery}}" type="button"
         id="button-addon2">Search</a>
    </div>
    <div class="sort-options">
      <button class="btn btn-outline-secondary"  type="button" data-bs-toggle="collapse" data-bs-target="#sortOptions"
              aria-expanded="false" aria-controls="sortOptions">
        Sort
      </button>
      <div class="collapse" id="sortOptions">

        <h6>Sort By:</h6>
        <ul class="list-unstyled">
          <li><a data-bs-toggle="collapse" aria-controls="sortOptions" data-bs-target="#sortOptions" (click)="applySort('releaseDate',true)">Year ↑</a></li>
          <li><a data-bs-toggle="collapse" aria-controls="sortOptions" data-bs-target="#sortOptions" (click)="applySort('releaseDate',false)">Year ↓</a></li>
          <li><a data-bs-toggle="collapse" aria-controls="sortOptions" data-bs-target="#sortOptions" (click)="applySort('grade',true)">Rating ↑</a></li>
          <li><a data-bs-toggle="collapse" aria-controls="sortOptions" data-bs-target="#sortOptions" (click)="applySort('grade',false)">Rating ↓</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Sort Options -->

  <div *ngIf="!loading; else loadingTemplate">
    <!-- Book Cards -->
    <div *ngFor="let group of books; let i = index" class="row">
      <div *ngFor="let book of getGroupElements(books, i)" class="col-md-4">
        <a href="/book/{{book.id}}">
          <div class="card">
            <img class="card-img-top" [src]=book.imageLink alt="Book 1">
            <div class="card-body">
              <h5 class="card-title">{{book.name}}</h5>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <p>Loading books...</p>
    </div>
  </ng-template>

  <!-- Pagination -->
  <nav aria-label="Page navigation example" class="mt-4">
    <ul class="pagination">
      <li class="page-item" *ngIf="getCurrentPage() != 1"><a class="page-link"
                                                             [href]="(getCurrentPage() - 1) + '?sortBy=' + sortBy + '&asc=' + asc + (searchQuery != null ? '&search=' + searchQuery : '')">Previous</a>
      </li>
      <li class="page-item" *ngFor="let item of [].constructor(getPageCount()); let i = index">
        <a class="page-link"
           [href]="'/' + (i + 1) + '?sortBy=' + sortBy + '&asc=' + asc + (searchQuery != null ?  '&search=' + searchQuery : '')">{{i + 1}}</a>
      </li>
      <li class="page-item" *ngIf="getCurrentPage() != getPageCount()"><a class="page-link"
                                                                          [href]="(getCurrentPage() + 1) + '?sortBy=' + sortBy + '&asc=' + asc +(searchQuery != null ? '&search=' + searchQuery : '')">Next</a>
      </li>
    </ul>
  </nav>
</div>
